body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

// light theme -------------------------------------------------------------------------------
.page {
    display: grid;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-columns: auto;
    grid-template-areas: "header header"
        "nav content"
        "footer footer";

    .nav {
        grid-area: nav;
        background-color: lightblue;
        padding: 24px 12px;
        justify-content: center;
    }

    .icon {
        width: 16px;
        height: 16px;
        margin: 8px;

        &__large {
            width: 32px;
            height: 32px;
        }
    }

    .header {
        grid-area: header;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        padding-right: 0;
    }

    .gallery {
        max-height: 550px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        align-items: flex-end;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid lightblue;

    }

    .link {
        text-decoration: none;
        list-style: none;

        &:hover {
            color: green;
        }

        &__light-bg {
            text-decoration: none;
            list-style: none;
            color: darkblue;
            font-weight: 500;
            padding: 8px;
            background-color: rgb(215, 234, 240);
            margin: 0;
        }

        &__darker-bg {
            text-decoration: none;
            list-style: none;
            color: darkblue;
            font-weight: 500;
            padding: 8px;
            background-color: rgb(134, 203, 226);
            margin: 0;
        }
    }

    p {
        margin: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .content {
        grid-area: content;
        background-color: rgb(241, 241, 241);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 24px;
    }

    article {
        height: 1000px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    select,
    textarea {
        cursor: default;
        width: 200px;
        padding: 4px 8px;
        box-sizing: border-box;
        border-radius: 8px;
        border: 2px solid lightblue;
    }

    .form-section {
        border: 6px solid lightblue;
        border-radius: 8px;
        padding: 16px;
        margin: 8px 0;
    }

    .logo {
        color: white;
    }

    .card {
        padding: 24px;
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    .img {
        width: 500px;
        height: 550px;
        object-fit: cover;
        border-radius: 8px;

        &__small {
            width: 250px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }

        &__small:hover {
            width: 72%;
            height: 82%;
            object-fit: cover;
            border-radius: 8px;
            position: absolute;
            right: 350px;
            top: 28px;
            transition: opacity .5s, top .5s;

        }
    }

    .text-and-icons {
        display: flex;
        gap: 12px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        &__column {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        &__inline {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
        }

        &__inline-start {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: flex-start;
        }
    }


    .footer {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: rgb(40, 40, 41);
        color: white;
        position: fixed;
        bottom: 0;
        text-align: center;
    }



    button {
        padding: 12px 16px;
        background-color: darkblue;
        color: white;
        border-radius: 8px;
        border: none;
        width: 100%;
    }

    table,
    td {
        border: 1.4px solid #333;
        padding: 4px 8px;
        margin: 1px;
    }


    thead,
    tfoot {
        background-color: #03153b;
        color: #fff;
    }

    th {
        border-left: 1px solid white;
        padding: 4px 8px;
    }

    .star-icon {
        fill: orange;
    }

    .eng-text {
        text-align: left;
    }

    .rtl {
        text-align: right;
    }

    .td-school-first {
        background-color: rgb(204, 238, 204);

    }

    .td-school-second {
        background-color: rgb(206, 226, 233);

    }

    .tr-total-rating {
        background-color: white;
        font-weight: bold;

    }
    .absu{
        position: absolute;
    }

}





// dark theme -------------------------------------------------------------------------------
.page-dark {
    display: grid;
    grid-template-rows: 55px calc(100vh - 55px);
    grid-template-columns: auto;
    grid-template-areas: "header header"
        "nav content"
        "footer footer";

    .nav {
        grid-area: nav;
        background-color: rgb(40, 40, 41);
        padding: 24px 12px;
        justify-content: center;
        color: white;
    }

    .icon {
        width: 16px;
        height: 16px;
        margin: 8px;

        &__large {
            width: 32px;
            height: 32px;
        }
    }

    .header {
        grid-area: header;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        padding-right: 0;
    }

    .gallery {
        max-height: 550px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        align-items: flex-end;
        padding: 24px;
        border-radius: 8px;
        border: 1px solid lightblue;

    }

    .link {
        text-decoration: none;
        list-style: none;

        &:hover {
            color: green;
        }

        &__light-bg {
            text-decoration: none;
            list-style: none;
            color: lightblue;
            font-weight: 500;
            padding: 8px;
            background-color: rgb(68, 68, 70);
            margin: 0;
        }

        &__darker-bg {
            text-decoration: none;
            list-style: none;
            color: lightblue;
            font-weight: 500;
            padding: 8px;
            background-color: rgb(107, 107, 112);
            margin: 0;
        }
    }

    p {
        margin: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .content {
        grid-area: content;
        background-color: rgb(22, 22, 23);
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 24px;
    }

    article {
        height: 1000px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .input {
        width: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    select,
    textarea {
        cursor: default;
        width: 200px;
        padding: 4px 8px;
        box-sizing: border-box;
        border-radius: 8px;
        border: 2px solid lightblue;
        background-color: rgb(68, 68, 70);
    }

    .form-section {
        border: 6px solid lightblue;
        border-radius: 8px;
        padding: 16px;
        margin: 8px 0;
        background-color: rgb(59, 59, 63);
    }

    .logo {
        color: white;
    }

    .card {
        padding: 24px;
        display: flex;
        flex-direction: row-reverse;
        gap: 32px;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(40, 40, 41);
        color: white;
    }

    .img {
        width: 500px;
        height: 550px;
        object-fit: cover;
        border-radius: 8px;

        &__small {
            width: 250px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px;
        }

        &__small:hover {
            width: 72%;
            height: 82%;
            object-fit: cover;
            border-radius: 8px;
            position: absolute;
            right: 350px;
            top: 28px;
            transition: opacity .5s, top .5s;

        }
    }

    .text-and-icons {
        display: flex;
        gap: 12px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        &__column {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__column-reverse {
            display: flex;
            flex-direction: column-reverse;
        }

        &__inline {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
        }

        &__inline-start {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: flex-start;
        }
    }

    .footer {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        background-color: rgb(0, 0, 0);
        color: white;
        position: fixed;
        bottom: 0;
        text-align: center;
    }

    button {
        padding: 12px 16px;
        background-color: darkblue;
        color: white;
        border-radius: 8px;
        border: none;
        width: 100%;
    }

}
